.nota {
  background-color: #4f86ca; 
  border: 1px solid #ccc; 
  border-radius: 20px; 
  padding: 15px; 
  margin-bottom: 20px; 
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease;
  position: relative;
  font-family: 'Lato', sans-serif; 
}

.nota:hover {
  transform: translateY(-7px); 
}

.borrar-boton {
  position: absolute; 
  top: 70px; 
  right: 10px; 
  width: 40px; 
  height: 40px; 
  border: none; 
  border-radius: 50%;
  background-color: #2481eb; 
  cursor: pointer; 
  display: flex; 
  align-items: center; 
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  transition: background-color 0.3s; 
}

.borrar-boton:hover {
  background-color: #75b0f4; 
}

.borrar-icono {
  width: 20px; 
  height: 20px; 
}



.nota.galeria {
  width: 100%; 
  cursor: pointer; 
}

.nota.galeria h3,
.nota.galeria p {
  margin: 5px 0;
}

.nota h3,
.nota p {
  overflow: hidden; 
  text-overflow: ellipsis;
  
}
